{{#if hasBlock}}
  <div id="animator-{{elementId}}" style="animation-duration: {{duration}}s; animation-iteration-count: {{iterations}};">
    {{yield}}
  </div>
{{else}}
  {{! inline uses ID of parent container as target }}
{{/if}}
